html, body {
  max-width: 100%;
  overflow-x: hidden;
  }

/*colors*/
.bg-green{
  background-color: #81e8ba;
}
.bg-blue{
  background-color: #5be8dc;
}
.bg-pink{
  background-color: #ff7ec2;
}
.bg-yellow{
  background-color: #fbe94f;
}
.bg-babypink{
  background-color: #ffb1b4;
}


.btn-secondary{
    background-color: rgba(253,225,95,1);
    border-color: rgba(253,225,95,1);
}
.footer{
    background-color: rgba(253,225,95,1);
}
body{
    font-family: 'poppins';  
}

.img_size{
    max-width: 100px;
    width: 50%;
    min-width: 40px;
}


.jumbotron{
  background-color: white;
}

.card-footer{
  background-color: white;
  border-top: none;
}
#Section-1{
    background-color: rgba(250,250,250,1);
}
#Section-4{
  padding-top: 10px;
  padding-bottom: 10px;
}
.row{
  padding: 10px 10px;
  box-sizing: border-box;
}
#Section-3{
    background-color: rgba(253,225,95,1);
    padding: 20px 20px;
    box-sizing: border-box;
}

#Idea_image{
    mix-blend-mode: luminosity;
}
a{
    color: black;
}
#About_Section-1{
    margin: 15px;
}
.A_R_1{
    text-decoration: underline;
    text-decoration-color: rgba(253,225,95,1);
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
}

.new_content {
    margin: 30px;
    transition: 1s;
}

.new_content:hover {
    transform: scale(1.02);
}


  
  /* Position the image container (needed to position the left and right arrows) */
  .image-container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }